<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="devsbons">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Adocão</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link id="contrast" href="/assets/css/dashboard_admin_cruduser.css" rel="stylesheet">

     <!-- Script para mudança de contraste -->
     <script type="application/javascript" src="/assets/javascript/Accessibility.js"></script>
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Adocão</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SignIn</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
			<button id="changeCSS" type="button" onclick=initiate() class="btn btn-nav btn-primary">Alto Contraste</button>
			<button type="button" class="btn btn-nav btn-primary">A+</button>
			<button type="button" class="btn btn-nav btn-primary">A-</button>
          </form>
        </div>
      </nav>
    </header>

    <!-- Login form -->
    <main role="main" class="container">
	  <div class="jumbotron">
        <div class="container">
          <h3 class="display-5">Bem-vindo Admin!</h3>
          <p>Clique no botão abaixo para cadastrar um novo usuário ou gerencie os usuários cadastrados.</p>
		  <button type="button" class="btn btn-nav btn-danger float-right">Logout</button>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Cadastrar &raquo;</a></p>
        </div>
      </div>
      <table class="table">
		  <thead>
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">Nome</th>
			  <th scope="col">Email</th>
			  <th scope="col">Telefone</th>
			  <th scope="col">Cidade</th>
			  <th scope="col">Nº de Pets<!-- <br>Cadastrados --></th>
			  <!-- <th scope="col">Situação</th> -->
			  <th class="actions">Ações</th>
			</tr>
		  </thead>
		  <tbody>
			<% users.forEach(function(data) { %>
			<tr>
			  <th scope="row">1</th>
			  <td><%= data.name %></td>
			  <td><%= data.email %></td>
			  <td><%= data.telephone %></td>
			  <td><%= data.city %></td>
			  <td>2</td>
			  <!-- <td><span class="badge badge-success">Aprovado</span></td> -->
			  <td class="actions">
			    <a class="btn btn-success btn-sm" href="view.html">Visualizar</a>
				<a class="btn btn-info btn-sm" href="edit.html">Editar</a>
				<a class="btn btn-danger btn-sm"  href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
			  </td>
			</tr>
			<% }) %>
		  </tbody>
		</table>
    </main>

	<!-- Footer -->
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">Feito com <b>♥</b> pelos devs bons</span>
      </div>
    </footer>
  </body>
</html>
