<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="devsbons">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Adocão</title>

    <!-- Custom styles for this template -->
    <link href="/assets/css/signin.css" rel="stylesheet" id="contrast">
    
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/bootstrap.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Adocão</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/signin">SignIn</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <button id="changeCSS" type="button" onclick=initiate() class="btn btn-nav btn-primary">Alto Contraste</button>
            <button id="increaseSize" onclick=changeFontSize(2) type="button" class="btn btn-nav btn-primary">A+</button>
            <button id="decreaseSize" onclick=changeFontSize(-2) type="button" class="btn btn-nav btn-primary">A-</button>
          </form>
        </div>
      </nav>
    </header>

    <!-- Login form -->
    <main role="main" class="form-container text-center">
      <form class="form-signin">
      <img class="mb-4" src="https://img2.gratispng.com/20180802/xlu/kisspng-clip-art-paw-openclipart-free-content-vector-graph-tigger-cub-paw-print-diecuts-scrapbooking-scouting-5b6349336c2609.075164311533233459443.jpg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Login - Usuário</h1>
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Senha</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	  </br>
	  </br>
      <a class="mt-5 mb-3 text-muted" href="/users/signup">Ainda não possui cadastro?</a>
    </form>
    </main>

	<!-- Footer -->
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">Feito com <b>♥</b> pelos devs bons</span>
      </div>
    </footer>
  </body>
  <!-- Script para mudança de contraste -->
  <script type="application/javascript" src="/assets/javascript/Accessibility.js"></script>
</html>
