body {
    display: flex;
    flex-direction: column;
    background-color: #e1e9f5;
}

header{
    display: flex;
    height: 30px;
    width: 100vw;
    border-bottom: 0.1px solid black;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
}

button{
    border: none;
    background: none;
    color: #747575;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
div.container{
    height: 100%;
    width: 100%;
}
div.login{
    display: flex;
    flex:1;
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #aaaaaa;
}


form#login-form{
    display: flex;
    flex-direction: column;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    border-top: 0.1px solid black;

}