 <!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="index.css">
		<title> Só os bons </title>
	</head>
	<body class="flex">
		<header class="container"> 
			<button type="button">Ver produtos</button>
			<button type="button">Login</button> 
		</header>
		<div class="login">
			<div class="inside-login-box">
				<form id="login-form">
					<label class="label-form" for="username">Username</label>
					<input type="text" id="username" name="username" placeholder="Insira seu username">
					<label  class="label-form"  for="pwd">Password</label>
					<input type="password" id="pwd" name="pwd" placeholder="Insira seu password">
					<input type="submit" value="Login">
				</form>
			</div>	
		</div>
		<footer> Feito com <b>♥</b> pelos devs bons</footer>
	</body>
</html> 
