<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="login.css">
		<title> Só os bons </title>
	</head>
	<body>
        <header class="menu"> 
        <button type="button">Ver produtos</button>
        <button type="button">Login</button> 
        </header>
		<div class="container">    
            <div class="login">
                <div class="loginzinho">
                    <form id="login-form">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Insira seu username">
                        <label for="pwd">Password</label>
                        <input type="password" id="pwd" name="pwd" placeholder="Insira seu password">
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
        <footer>
            Feito com <b>♥</b> pelos devs bons
        </footer>
	</body>
</html> 
