<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./css/login.css">
		<title> Só os bons </title>
	</head>
	<body>
        <header class="menu"> 
        <button type="button">Ver produtos</button>
        <button type="button">Login</button> 
        </header>
		<div class="container">    
            <div class="white-box">
                <div class="inside-box">
                    <form id="login-form">
                        <label for="username">Nome de usuário</label>
                        <input type="text" id="username" name="username" placeholder="Insira seu username">
                        <label for="pwd">Senha</label>
                        <input type="password" id="pwd" name="pwd" placeholder="Insira seu password">
                        <input type="submit" value="Login">
                    </form>
                    <div class="signup-link">
                        <p>Não tem uma conta? Crie <a href="signup.html">agora</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            Feito com <b>♥</b> pelos devs bons
        </footer>
	</body>
</html> 
