<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./css/signup.css">
		<title> Só os bons </title>
	</head>
	<body>
        <header class="menu"> 
            <button type="button">Ver produtos</button>
            <button type="button" href="login.html">Login</button> 
        </header>
		<div class="container">    
            <div class="white-box">
                <div class="inside-box">
                    <form id="signup-form">
                        <label for="username">Nome de usuário</label>
                        <input type="text" id="username" name="username" placeholder="Insira seu nome de usúario">
                        <label for="pwd">Senha</label>
                        <input type="password" id="pwd" name="pwd" placeholder="Insira sua senha">
                        <label for="confirm">Confirmar senha</label>
                        <input type="confirm" id="confirm" name="confirm" placeholder="Confirme sua senha">
                        <label for="mail">E-mail</label>
                        <input type="mail" id="mail" name="mail" placeholder="Insira seu e-mail">
                        <input type="submit" value="Criar conta">
                    </form>
                </div>
            </div>
        </div>
        <footer>
            Feito com <b>♥</b> pelos devs bons
        </footer>
	</body>
</html> 