*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
body {
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: black;
}

div.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

header.menu{
    position: fixed;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    width: 100%;
    justify-content: flex-end;
    padding:5px;

}

div.white-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 400px;
    height: 250px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #3a3939;
}

form#login-form{
    display: flex;
    flex-direction: column;
}

form#login-form input {
    margin: 8px;
    color: white;
    background-color: black;
}

form#login-form input:focus, form#login-form input:hover{
    border-color: yellow;
    border-radius: 2px; 
}

form#login-form input#submit:focus, form#login-form input#submit:hover{
    color: yellow;
    border-color: yellow;
    border-radius: 2px; 
}

footer{
    position: absolute;
    bottom: 0;
    padding:5px;
    width: 100%;
    border-top: 1px solid white;
}

footer b{
    color: red;
}

button{
    border: none;
    background: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 10px;
    padding: 4px;
}

button:hover, button:focus{
    color: yellow;
}