*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
body {
    height: 100vh;
    width: 100vw;
    background-color: #e1e9f5;
}

div.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

header.menu{
    position: fixed;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    width: 100%;
    justify-content: flex-end;
    padding:5px;

}

div.white-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 500px;
    height: 400px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #aaaaaa;
}

form#signup-form{
    display: flex;
    flex-direction: column;
}

form#signup-form input {
    margin-top: 8px;
    margin-bottom: 4px;   
}

footer{
    position: absolute;
    bottom: 0;
    padding:5px;
    width: 100%;
    border-top: 1px solid black;
}

footer b{
    color: red;
}

button{
    border: none;
    background: none;
    color: #747575;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 10px;
    padding: 4px;
}